<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>

  window.images = {
    logo: "<%= image_path("logo-white.png") %>",
    play: "<%= image_path("play.png") %>",
    pause: "<%= image_path("pause.png") %>",
    nextSong: "<%= image_path("next_song.png") %>",
    prevSong: "<%= image_path("prev_song.png") %>",
    volume: "<%= image_path("volume.png") %>",
  }
</script>

<div id="root"></div>
